<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/filters.css">
  <title>Document</title>
</head>
<body>
  
  <h3 class="filter-title">Filters:</h3>
<div class="filter">
    
    <form class="submit-form">
      <div class="input-container">
        <input
          type="text"
          name="search"
          class="search"
          placeholder="Search for anything"
        />
        <button type="submit" class="search-btn">
          <svg class="search-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <div class="input-container">
      <select name="product-categories" class="categories"></select>
      <svg class="down-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-selectors-arrow-down"></use>
      </svg>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-products">
    <div class="filter-box">
      <ul class="filter-box__list"></ul>
    </div>
        </div>
        <script src="./js/filters.js" type="module"></script>
      </body>
      </html>