<header class="header-container">
  <a href="./index.html" class="header-logo-link">
    <div class="header-logo-icon-wrap">
      <svg class="header-logo-icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <svg class="header-logo-text">
      <use href="./images/icons.svg#icon-food-boutique"></use>
    </svg>
  </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-home-btn-link">Home</a>
      </li>
      <li class="header-nav-item">
        <a href="./cartpage.html" class="header-cart-btn-link">
          <div class="header-cart-icon-wrap">
            <svg class="header-cart-icon">
              <use href="./images/icons.svg#icon-cart"></use>
            </svg>
          </div>
          <p class="header-cart-btn-link-count">
            CART (<span class="js-cart-quantity">0</span>)
          </p>
        </a>
      </li>
    </ul>
  </nav>
</header>
