<header class="header-container">
    <a href="./index.html" class="header-logo-link">
      <div class="logo-icon-wrap">
        <svg class="logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <svg class="logo-text">
        <use href="./images/icons.svg#icon-food-boutique"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="home-btn-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="./cart.html" class="cart-btn-link">
            <div class="cart-icon-wrap">
              <svg class="cart-icon">
                <use href="./images/icons.svg#icon-cart"></use>
              </svg>
            </div>
            <p class="cart-btn-link-count">CART (<span>0</span>)</p>
          </a>
        </li>
      </ul>
    </nav>
</header>
