<div class="popup-cart is-hidden">
  <div class="popup-curt-content">
    <button class="popup-cart-close-btn" type="button">
      <svg class="popup-cart-icon">
        <use href="./images/icons.svg#icon-remove"></use>
      </svg>
    </button>
    <!-- <div class="popup-cart-pictures"> -->
        <picture>
          <source
            srcset="./images/ordersuccess.png 1x, ./images/ordersuccess-2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            class="popup-cart-tomato"
            width="140"
            src="./images/ordersuccess.png"
            alt="Tomatoes"
            loading="lazy"
          />
        </picture>
        <!-- <picture>
          <source
            srcset="./images/shadow.png 1x, ./images/shadow-2x.png 2x"
            media="(min-width: 375px)"
          /> -->
          <img
            class="popup-cart-shadow"
            width="145"
            src="./images/shadow.png"
            alt="Tomatoes"
            loading="lazy"
          />
        <!-- </picture> -->
    <!-- </div> -->
    <p class="popup-cart-title">Order success</p>
    <p class="popup-cart-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
