<div id="privacyPolicyModal" class="modal is-hidden">
  <div class="modal-content">
    <button
      class="popup-main-close-btn"
      onclick="closeModal('privacyPolicyModal')"
    >
      <svg class="popup-main-close">
        <use href="./images/icons.svg#icon-remove" />
      </svg>
    </button>
    <h2>Privacy Policy</h2>
    <p class="privacy-">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      expedita libero numquam inventore reprehenderit rerum eveniet ad
      laudantium cumque laborum, accusamus in, cum fugit dignissimos ipsam
      aperiam aliquid ab quae. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptates expedita libero numquam inventore
      reprehenderit rerum eveniet ad laudantium cumque laborum, accusamus in,
      cum fugit dignissimos ipsam aperiam aliquid ab quae. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Voluptates expedita libero numquam
      inventore reprehenderit rerum eveniet ad laudantium cumque laborum,
      accusamus in, cum fugit dignissimos ipsam aperiam aliquid ab quae. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptates expedita
      libero numquam inventore reprehenderit rerum eveniet ad laudantium cumque
      laborum, accusamus in, cum fugit dignissimos ipsam aperiam aliquid ab
      quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      expedita libero numquam inventore reprehenderit rerum eveniet ad
      laudantium cumque laborum, accusamus in, cum fugit dignissimos ipsam
      aperiam aliquid ab quae.
    </p>
  </div>
</div>
<div id="termsOfServiceModal" class="modal is-hidden">
  <div class="modal-content">
    <button
      class="popup-main-close-btn"
      onclick="closeModal('termsOfServiceModal')"
    >
      <svg class="popup-main-close">
        <use href="./images/icons.svg#icon-remove" />
      </svg>
    </button>
    <h2>Terms of Service</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      expedita libero numquam inventore reprehenderit rerum eveniet ad
      laudantium cumque laborum, accusamus in, cum fugit dignissimos ipsam
      aperiam aliquid ab quae. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptates expedita libero numquam inventore
      reprehenderit rerum eveniet ad laudantium cumque laborum, accusamus in,
      cum fugit dignissimos ipsam aperiam aliquid ab quae. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Voluptates expedita libero numquam
      inventore reprehenderit rerum eveniet ad laudantium cumque laborum,
      accusamus in, cum fugit dignissimos ipsam aperiam aliquid ab quae. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptates expedita
      libero numquam inventore reprehenderit rerum eveniet ad laudantium cumque
      laborum, accusamus in, cum fugit dignissimos ipsam aperiam aliquid ab
      quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      expedita libero numquam inventore reprehenderit rerum eveniet ad
      laudantium cumque laborum, accusamus in, cum fugit dignissimos ipsam
      aperiam aliquid ab quae.
    </p>
  </div>
</div>
<script src="/src/js/privacy-modal.js"></script>
