.cart-container {
  width: 100vw;
  width: auto;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.carts {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
  padding-top: 54px;
}

.icon-block {
  width: 38px;
  height: 38px;
  border-radius: 30px;
  background: #6d8434;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: #e8e8e2;
  width: 18px;
  height: 18px;
}

.title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}

.span-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}

/*!----------Пустий кошик----------*/

.basket-img {
  width: 132px;
  height: 114px;
  margin: auto;
  display: block;
  margin-top: 105px;
  margin-bottom: 28px;
}

.basket-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 14px;
}

.basket-title-link {
  color: #6d8434;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.basket-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  max-width: 279px;
  margin: 0 auto;
  padding-bottom: 120px;
}

/*!----------Кошик з товарами----------*/

.your-cart-list {
  overflow-y: auto;
  max-height: 480px;
}

.delete-all {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-end;
}

.delete-all-text {
  color: #010101;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.delete-all-btn {
  background-color: transparent;
  border: none;
}

.delete-all-icon {
  fill: #010101;
  width: 24px;
  height: 24px;
}

.product-cart-container {
  width: 100px;
  height: 100px;
  padding: 18px;
  border-radius: 10px;
  background: #FAFAFA;
}

.cart-product-img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.your-cart-list {
  margin-bottom: 50px;
}

.cart-product-card {
  display: flex;
  gap: 20px;
  background-color: #E8E8E2;
  position: relative;
  padding: 30px 0;
}

.cart-product-card:last-child::after{
  display: none;
}

.cart-product-card:after {
  content: '';
  width: 335px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.remove-cart-item-btn {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 14px;
  border: none;
  background-color: transparent;
  display: flex;
}

.remove-cart-item-icon {
  width: 18px;
  height: 18px;
}

.cart-product-name {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

.cart-product-features {
  display: flex;
  gap: 8px;
  margin-bottom: 36px;
}

.cart-product-category{
  color: rgba(1, 1, 1, 0.30);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  display: flex;
  gap: 4px;
}

.cart-product-category-span {
  color: #010101;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.cart-product-size {
  color: rgba(1, 1, 1, 0.30);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  display: flex;
  gap: 4px;
}

.cart-product-size-span {
  color: #010101;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.cart-product-price {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

#my-scrollbar {
  border-radius: 20px;
  background: rgba(1, 1, 1, 0.08);
  width: 75px;
  height: 117px;
  flex-shrink: 0;
}

.form-input {
  padding-bottom: 80px;
}

.order-title {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order-total {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.order-text-total {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding-top: 26px;
  padding-left: 18px;
  padding-bottom: 14px;
}

.order-sum {
  display: flex;
  gap: 4px;
}

.order-text-sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  padding-top: 30px;
  padding-bottom: 16px;
}

.order-total-sum {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
}

.mail-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  padding: 0 20px;
  color: #010101;
  outline: transparent;
  margin-bottom: 14px;
  
}

.mail-input:is(:hover, :focus) {
  border: 1px solid #6d8434;
}

.mail-input::placeholder {
  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.mail-input:focus::placeholder {
  opacity: 0;
}

.form-btn {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  width: 100%;
  height: 42px;
  border-radius: 30px;
  background: #6d8434;
  border: none;
  cursor: pointer;
  
}

.form-btn:is(:hover, :focus) {
  background: 1px solid #586f1f;
}

@media screen and (min-width: 768px) {
  .cart-container {
    width: 100vw;
    width: auto;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .carts {
    padding-top: 75px;
  }

  .icon-block {
    width: 42px;
    height: 42px;
  }

  .title {
    font-size: 32px;
    line-height: 1;
  }

  .span-title {
    font-size: 32px;
    line-height: 1;
  }

  /*!----------Пустий кошик----------*/

  .basket-img {
    width: 164px;
    height: 140px;
    margin-top: 135px;
    margin-bottom: 40px;
  }

  .basket-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .basket-title-link {
    font-size: 20px;
    line-height: 1.2;
  }

  .basket-text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 50%;
  }

  /*!----------Кошик з товарами----------*/

  .delete-all {
    margin-top: 26px;
    margin-bottom: 42px;
  }

  .delete-all-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .product-cart-container {
    width: 120px;
    height: 120px;
    padding: 24px;
  }

  .cart-product-img {
    width: 72px;
    height: 72px;
  }

  .your-cart-list {
    margin-bottom: 60px;
  }

  .cart-product-card {
    gap: 40px;
    padding: 40px 0;
  }

  .cart-product-card:after{
    width: 672px;
  }

  .remove-cart-item-btn {
    top: 40px;
    right: 39px;
  }

  .remove-cart-item-icon {
    width: 20px;
    height: 20px;
  }

  .cart-product-name {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .cart-product-features {
    gap: 16px;
    margin-bottom: 44px;
  }

  .cart-product-category-span {
    font-size: 14px;
    line-height: 1.28;
  }

  .cart-product-size-span {
    font-size: 14px;
    line-height: 1.28;
  }

  .cart-product-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .form-input {
    padding-bottom: 100px;
    display: flex;
    gap: 16px;
  }

  .order-title {
    font-size: 32px;
    line-height: 1;
  }

  .order-total {
    margin-bottom: 40px;
    width: 590px;
  }

  .order-text-total {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 22px;
    padding-left: 28px;
    padding-bottom: 14px;
  }

  .order-sum {
    gap: 8px;
  }

  .order-total-sum {
    font-size: 32px;
    line-height: 1;
    padding-top: 14px;
    padding-right: 28px;
  }

  .mail-input {
    width: 359px;
    height: 54px;
    margin-bottom: 0;
  }

  .mail-input::placeholder {
    font-size: 18px;
    line-height: 1.34;
  }

  .form-btn {
    font-size: 20px;
    line-height: 1.2;
    width: 215px;
    height: 54px;
  }

}

@media screen and (min-width: 1280px) {
  .cart-container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .carts {
    padding-top: 57px;
  }

  /*!----------Пустий кошик----------*/

  .basket-img {
    margin-top: 155px;
  }

  .basket-text {
    max-width: 30%;
    padding-bottom: 150px;
  }

  /*!----------Кошик з товарами----------*/

  .delete-all {
    margin-top: 16px;
    margin-bottom: 44px;
  }

  .cart-product-card:after {
    width: 500px;
  }
   
  .remove-cart-item-btn {
    top: 44px;
    right: 40px;
  }

  .form-input {
    padding-bottom: 0px;
  }

  .js-basket {
    display: flex;
    gap: 101px;
  }

  .your-cart-container {
    width: 100%;
  }

}