  .footer {
    background-color: var(--primary-color);
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    color: var(--background-color);
  }

  .footer-container {
    width: 100vw;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .footer-basic-wrap {
    margin-bottom: 80px;
  }

  .footer-links-wrap {
    margin-bottom: 40px;
  }

  .footer-logo-link {
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 28px;
    border-radius: 14px;
    margin-bottom: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-logo-link:is(:hover, :focus) {
    background-color: rgba(232, 232, 226, 0.2);
    border: 1px solid rgba(232, 232, 226, 0.3);
  }

  .footer-logo-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-logo-icon {
    width: 16px;
    height: 16px;
    fill: var(--primary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-logo-text {
    width: 118px;
    height: 20px;
    fill: var(--background-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-list {
    display: flex;
    gap: 12px;
  }

  .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(232, 232, 226, 0.3);
    border-radius: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:is(:hover, :focus) {
    background-color: rgba(232, 232, 226, 0.2);
  }

  .footer-social-icon {
    height: 24px;
    width: 24px;
    fill: rgba(232, 232, 226, 0.8);
  }

  .footer-text-content {
    margin-bottom: 80px;
  }

  .footer-tagline {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 14px;
  }

  .footer-paragraph {
    color: rgba(232, 232, 226, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }

  .footer-subcribe-text {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .footer-subcribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .footer-subcribe-input {
    outline: transparent;
    width: calc(100vw - 20px * 2);
    max-width: 335px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid var(--background-color);
    padding: 12px 18px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subcribe-input::placeholder {
    color: rgba(232, 232, 226, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.04em;
  }

  .footer-subcribe-btn {
    width: calc(100vw - 20px * 2);
    max-width: 335px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background-color: var(--background-color);
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subcribe-btn:is(:hover, :focus) {
    color: var(--dark-green);
  }

  .footer-policies-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 8px;
  }

  .footer-policies-rules {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }

  .footer-policy-rule-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-policy-rule-link:is(:hover, :focus) {
    color: rgba(232, 232, 226, 0.6);
  }


@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .footer-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .footer-basic-wrap {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 120px;
  }

  .footer-logo-link {
    height: 32px;
    width: 205px;
    margin-bottom: 20px;
  }

  .footer-logo-icon-wrap {
    width: 32px;
    height: 32px;
  }

  .footer-logo-icon {
    width: 20px;
    height: 20px;
  }

  .footer-logo-text {
    width: 157px;
    height: 24px;
  }

  .footer-socials-list {
    display: flex;
    gap: 12px;
  }

  .footer-social-link {
    width: 44px;
    height: 44px;
  }

  .footer-social-icon {
    height: 28px;
    width: 28x;
  }

  .footer-text-content {
    margin-bottom: 64px;
  }

  .footer-tagline {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .footer-paragraph {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-subcribe {
    width: 336px;
  }

  .footer-subcribe-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-subcribe-form {
    gap: 20px;
  }

  .footer-subcribe-input {
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-subcribe-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0em;
  }

  .footer-subcribe-btn {
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-policies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-policies-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 0px;
  }

  .footer-policies-rules {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1280px;
    padding: 0 20px;
  }

  .footer-basic-wrap {
    gap: 149px;
    margin-bottom: 128px;
  }

  .footer-info-wrap {
    display: flex;
    flex-direction: row;
    gap: 148px;
  }

  .footer-text-content {
    margin-bottom: 0;
  }
}
