.container {
  width: 100vw;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid red;
}

.footer {
  background-color: var(--primary-color);
  height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  color: var(--background-color);
  border: 1px solid blue;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 38px;
  border-radius: 9px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-text {
  width: 118px;
  height: 20px;
  fill: var(--light-green);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials {
  margin-bottom: 40px;
}

.footer-socials-list {
  display: flex;
  gap: 12px;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  border-radius: 10px;
  line-height: 0;
}

.footer-social-link {
}

.footer-social-icon {
  height: 24px;
  width: 24px;
  fill: rgba(232, 232, 226, 0.8);
}

.footer-text-content {
  margin-bottom: 80px;
}

.footer-tagline {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 14px;
}

.footer-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
}

.footer-subcribe {
  margin-bottom: 80px;
}

.footer-subtitle-text {
}

.footer-subcribe-form {
}

.footer-subcribe-label {
}

.footer-subcribe-input {
}

.footer-subcribe-btn {
}

.footer-policies {
}

.footer-policies-paragraph {
}

.footer-policies-rules {
}

.footer-policy-rule-link {
}
