.offers {
    padding: 80px 0;
}

.popular_container {
    padding: 0 20px;
    width: 375px;
    margin-bottom: 40px;
}

.popular_list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.popular_title {
    color: #010101;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
}

.div_img {
    width: 74px;
    height: 74px;
    background-color: #E8E8E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.popular_card {
    display: flex;
    width: 335px;
    height: 95px;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 12px;
    position: relative;
    gap: 10px;
    cursor: pointer;
}

.discont-popular {
background-color: var(--primary-color);
    position: absolute;
    top: 0px;
    left: 64px;
    z-index: 7;
    border-radius: 50%;
    visibility: hidden;
}

.basket_button {
    border-radius: 30px;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-style: none;
    background-color: #E8E8E2;
    position: absolute;
    right: 12;
    top: 12;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-icon-popular {
    width: 20px;
    height: 20px;
    fill: #6D8434;
    border-radius: 30px;
}

.check_popular {
    width: 20px;
        height: 20px;
        fill: none;
        stroke: #6D8434;
        /* display: none; */
}

.basket_button:hover,
.basket_button:focus {
    background-color: #6D8434;
}

.basket_button:hover .cart-icon-popular,
.basket_button:focus .cart-icon-popular {
        fill: #E8E8E2;
}

.basket_button:hover .check_popular,
.basket_button:focus .check_popular {
    stroke: #E8E8E2;
}


.popular_item_name {
    color: #010101;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
}

.space {
    margin-bottom: 10px;
}

.info_decription {
    display: flex;
    gap: 9px;
}

.popular_description{
color: rgba(1, 1, 1, 0.30);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.popular_description_info {
    color: #010101;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
}


/* adaptive */

@media screen and (min-width: 768px) {
    .popular_container {
            width: 768px;
        }

    .popular_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 13px;
    }
}


@media screen and (min-width: 1280px) {
    .popular_container {
            width: 375px;
        }

    .popular_list {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
}