.modal {
   position: fixed;
   z-index: 999;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: rgba(0,0,0,0.4);
   transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
   visibility 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 60%;
   position: relative;
   padding: 40px;
   border-radius: 10px;
   transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
   visibility 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-content h2{
   text-align: center;
   margin-bottom: 20px;
 }
 
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 .footer-policy-rule-link{
   cursor: pointer;
 }
 
 .is-hiddenn {
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
   visibility 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 }