.pagination-section{
  margin-top: 40px;
  margin-bottom: 61px;
  width: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tui-page-btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: #a3a3a3;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  line-height: 40px;
  font-weight: 500;
  font-size: 18px;
}

.tui-page-btn:hover,
:focus {
  color: #a3a3a3;
}

.tui-ico-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  outline: none;
  border: none;
  cursor: pointer;
}

.tui-ico-arrow {
  fill: black;
  width: 24px;
  height: 24px;
}

.tui-is-selected {
  color: white;
  background-image: linear-gradient(#6d8434, #6d8434);
  background-repeat: no-repeat;
}

.tui-is-selected:hover,
:focus {
  color: white;
}

.icon-arrow {
  stroke: black;
  fill: none;
  width: 24px;
  height: 24px;
  z-index: 30px;
}

.tui-is-disabled {
  display: none;
}
@media screen and (min-width: 768px){
  .pagination-section{
    width: 472px;
  }
}
.list-prod {
  max-width: 375px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
}

.prod-item {
  padding: 20px 20px;
  background: var(--cards-color);
  border-radius: 20px;
  max-width: 100%;
  max-height: 356px;
}

.prod-pic {
  border-radius: 10px;
  background-color: var(--background-color);
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.prod-img {
  max-width: 140px;
  max-height: 140px;
}

.discont-prod {
  position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 92%;
    top: 12%;
    transform: translate(-50%, -50%);
    background-color: #6d8434;
    width: 60px;
    height: 60px;
}

.title-prod {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feature {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  gap: 8px;
}

.feature-prod {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
}

.feature-value {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  margin-left: 4px;
}

.buing-prod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: end; */
  height: 34px;
}

.price-prod {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11em;
  align-self: self-end;
}

.buy-btn {
  border-radius: 30px;
  background: var(--primary-color);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: auto;
  border: none;
}

.buy-svg {
  fill: white;
  justify-content: center;
  align-items: center;
}

.buy-btn:hover,
.buy-btn:focus {
  background: var(--dark-green);
}

@media screen and (min-width: 768px) {
  .list-prod {
    max-width: 768px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    padding: 20px 32px;
  }

  .prod-item {
    max-width: 336px;
    max-height: 360px;
  }

  .title-prod {
    font-size: 20px;
    line-height: 1.2em;
  }

  .price-prod {
    font-size: 20px;
    line-height: 1.2em;
  }

  .prod-pic {
    width: 296px;
  }
}

@media screen and (min-width: 1280px) {
  .list-prod {
    max-width: 925px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px 20px;
    padding: 0;
  }

  .prod-item {
    padding: 20px 20px;
    background: var(--cards-color);
    border-radius: 20px;
    max-width: 295px;
    max-height: 363px;
  }

  .title-prod {
    font-size: 20px;
    line-height: 1.2em;
  }

  .price-prod {
    font-size: 20px;
    line-height: 1.2em;
  }

  .prod-pic {
    width: 255px;
  }

  .feature {
    max-width: 220px;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
  }
}
