:root {
  --background-color: #e8e8e2;
  --cads-color: #fafafa;
  --primary-color: #6d8434;
  --light-green: #e8e8e2;
  --dark-green: #586f1f;
  --light-gray: rgba(1, 1, 1, 0.07);
  --gray: rgba(1, 1, 1, 0.30);
  --black: #010101;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PP Neue Montreal', sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: red; /* temporarily */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100vw;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }
}
